/* Documento CSS */

* {
	margin:0px;
	padding:0px;
}
.MAIN {
	position:relative;
	width:480px;
	margin:0 auto;
	height:600px;
	background-color:;
}
.content-LEFT {
	float:left;
	position:relative;
	width:68%;
	max-height:434px;
	margin-bottom:3px;
	margin-top:3px;
	margin-left:3px;
	background-color: #222;
	border-top-right-radius: 5px;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.content-RIGHT {
	height: 430px;
	padding-left: 15px;
	background:linear-gradient(to top,#06c,#0ABC9C); linear-gradient(to top,#fff,#eee);
	font-size:11.49999969px; color: transparent;  font-family: Yandex-UI-Icons-Private; 
}
.box-right {
	width: 101.1%; 99.99%; 98.2%;100%; 40%;
	height:88px; 78px; 23.5px; 16px;
	padding-left: 10px;
	padding-top: -3px;
	margin-left:-15px; -9px; -13px;
	margin-top:-10px;
	padding-top:-10px;
	background: #F5B041; #6ABC9C;
	border-top-right-radius: 0px;
    border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.box-right-2 {
	width: 101.6%; 99.99%; 98.2%;100%; 40%;
	height:12px; 78px; 23.5px; 16px;
	padding-left: 8px;
	padding-top: -3px;
	margin-left:-15px; -15px; -9px; -13px;
	margin-top:-10px;
	padding-top:-10px;
	background: transparent; #6ABC9C;
	border-top-right-radius: 0px;
    border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
@media screen and (max-width: 700px) {
			.content-RIGHT, .content-LEFT, .MAIN{
				float: none;
				width: 100%;
				margin-right:0;
}
